---
import Button from "./Button.astro";
---

<div class="flex justify-center items-center">
	<div class="bg-white bg-opacity-90 p-4 shadow-lg">
		<div class="text-center mb-2 lg:mb-16">
			<h5 class="mb-4 tracking-tight text-black">
				Estamos actualizando nuestra web
			</h5>
			<p class="font-bold">Mientras, haz tu pedido online</p>
		</div>

		<div class="flex flex-col items-center justify-center mb-8">
			<img src="dedo.png" class="mb-9 w-10" />
			<Button href="">
				PEDIDO ONLINE
			</Button>
		</div>

		<div class="p-4">
			<img src="logo.png" />
		</div>
	</div>
</div>
